import React from "react";

export const {{pascal}}Page = () => {
  return (
    <div className="p-6">
      <h1 className="text-2xl font-bold mb-4">{{pascal}}</h1>
      <p>This is the {{pascal}} page.</p>
    </div>
  );
};